// Background color
.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-success {
  background-color: var(--success-color);
}

.bg-danger {
  background-color: var(--danger-color);
}

.bg-warning {
  background-color: var(--warning-color);
}

.bg-info {
  background-color: var(--info-color);
}

.bg-light {
  background-color: var(--light-color);
}

.bg-light-gray {
  background-color: var(--light-gray-color);
}

.bg-dark-gray {
  background-color: var(--dark-gray-color);
}

.bg-dark {
  background-color: var(--dark-color);
}

.bg-white {
  background-color: var(--white-color);
}
