// Grid
$grid-columns: 12;
$grid-gutter-width: 20px;

// Grid: generating the classes from col-1 to col-12
@mixin make-columns($grid-columns, $grid-gutter-width) {
  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      width: calc(percentage($i / $grid-columns) - $grid-gutter-width);
      float: left;
      margin-right: calc($grid-gutter-width / 2);
      margin-left: calc($grid-gutter-width / 2);
      box-sizing: border-box;
    }
  }
}

@mixin make-gutter($grid-gutter-width) {
  margin-left: calc($grid-gutter-width / 2);
  margin-right: calc($grid-gutter-width / 2);
}

.container {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc($grid-gutter-width / 2);
  padding-right: calc($grid-gutter-width / 2);
}

.row {
  width: 100%;
  margin-left: calc($grid-gutter-width / 2);
  margin-right: calc($grid-gutter-width / 2);
  display: flex;
  flex-wrap: wrap;
}

.col {
  @include make-gutter($grid-gutter-width);
}
// from col-1 to col-12
@include make-columns($grid-columns, $grid-gutter-width);


