:root {
  
  /* Colors */
  --primary-color: #68BFED;
  --secondary-color: #79858f;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --light-gray-color: #d4d8df;
  --gray-color: #9ea4a6;
  --dark-gray-color: #393d42;
  --dark-color: #343a40;
  --white-color: #ffffff;


  /* Text */
  --primary-text: #000000;
  --secondary-text: #333333;
  --light-text: #ffffff;
  --dark-text: #000000;

  /* Borders */
  --border-radius: 0.25rem;
  --border-width: 1px;
  --border-color: #d1d9df;

  /* Box Shadows */
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



